# Templates for rules based on the NEW_VERSION variable
.rule:if-version-upgrade-requested:
  rules:
    # Only run for branches if NEW_VERSION is set in the environment
    - if: '$NEW_VERSION =~ /^\d+\.\d+\.\d+$/'
      when: always
    - when: never

.rule:if-no-version-upgrade-requested:
  # Do not run when NEW_VERSION is set in the environment.
  rules:
    - if: '$NEW_VERSION == null'
    - when: never

.release-rule:
  rules:
    - if: $CI_COMMIT_TAG =~ /^\d+\.\d+\.\d+$/
    - when: never

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_TAG =~ /^\d+\.\d+\.\d+$/
    - if: $CI_COMMIT_BRANCH
