build:debug:
  extends:
    - .gradle-android-job
    - .rule:if-no-version-upgrade-requested
  interruptible: true
  stage: build
  script:
    - ./gradlew assembleDebug
  artifacts:
    paths:
      - app/build/outputs/apk/debug

build:release:
  extends:
    - .gradle-android-job
    - .rule:if-no-version-upgrade-requested
    - .release-rule
  interruptible: true
  stage: build
  needs:
    - job: verify-tag-name
  variables:
    SECURE_FILES_DOWNLOAD_PATH: './'
  script:
    - curl --silent "https://gitlab.com/gitlab-org/incubation-engineering/mobile-devops/download-secure-files/-/raw/main/installer" | bash
    - ./gradlew assembleRelease
  artifacts:
    paths:
      - app/build/outputs/apk/release

build:release:bundle:
  extends:
    - .gradle-android-job
    - .rule:if-no-version-upgrade-requested
    - .release-rule
  interruptible: true
  stage: build
  needs:
    - job: verify-tag-name
  variables:
    SECURE_FILES_DOWNLOAD_PATH: './'
  script:
    - curl --silent "https://gitlab.com/gitlab-org/incubation-engineering/mobile-devops/download-secure-files/-/raw/main/installer" | bash
    - ./gradlew bundleRelease
  artifacts:
    paths:
      - app/build/outputs/bundle/release
