verify-tag-name:
  extends:
    - .gradle-android-job
    - .release-rule
  interruptible: true
  stage: .pre
  before_script:
    - getPropertyValue() {
        pattern="^$1:[[:space:]]*";
        ./gradlew properties | sed -n "/$pattern/s/$pattern//p";
      }
  script:
    - VERSION_MAJOR="$(getPropertyValue versionMajor)"
    - VERSION_MINOR="$(getPropertyValue versionMinor)"
    - VERSION_PATCH="$(getPropertyValue versionPatch)"
    - RELEASE_VERSION="$VERSION_MAJOR.$VERSION_MINOR.$VERSION_PATCH"
    - if [ "$CI_COMMIT_TAG" != "$RELEASE_VERSION" ]; then
        echo "Tag [$CI_COMMIT_TAG] does not equal version [$RELEASE_VERSION]";
        echo "Make sure the tag name and the version properties in `gradle.properties` match.";
        exit 3;
      fi