# Copyright (C) 2025 FairPhone B.V.
#
# SPDX-FileCopyrightText: 2025. FairPhone B.V.
#
# SPDX-License-Identifier: EUPL-1.2

verify-tag-name:
  extends:
    - .gradle-android-job
    - .release-rule
  interruptible: true
  stage: .pre
  before_script:
    - getPropertyValue() {
        pattern="^$1:[[:space:]]*";
        ./gradlew properties | sed -n "/$pattern/s/$pattern//p";
      }
  script:
    - RELEASE_VERSION="$(./scripts/get-version.sh)"
    - if [ "$CI_COMMIT_TAG" != "$RELEASE_VERSION" ]; then
        echo "Tag [$CI_COMMIT_TAG] does not equal version [$RELEASE_VERSION]";
        echo "Make sure the tag name and the version properties in `gradle.properties` match.";
        exit 3;
      fi