test:debug:
  extends: .gradle-android-job
  interruptible: true
  stage: test
  script:
    - ./gradlew testDebugUnitTest
  artifacts:
    reports:
      junit:
        - app/build/test-results/testDebugUnitTest/TEST-*.xml
    paths:
      - app/build/test-results/testDebugUnitTest/TEST-*.xml


test:release:
  extends:
    - .gradle-android-job
    - .release-rule
  interruptible: true
  stage: test
  script:
    - ./gradlew testReleaseUnitTest
  artifacts:
    reports:
      junit:
        - app/build/test-results/testReleaseUnitTest/TEST-*.xml
    paths:
      - app/build/test-results/testReleaseUnitTest/TEST-*.xml