# Copyright (C) 2025 FairPhone B.V.
#
# SPDX-FileCopyrightText: 2025. FairPhone B.V.
#
# SPDX-License-Identifier: EUPL-1.2

test:debug:
  extends: .gradle-android-job
  interruptible: true
  stage: test
  needs:
    - job: download:google-services
      artifacts: true
  script:
    - ./gradlew testDebugUnitTest
  artifacts:
    reports:
      junit:
        - app/build/test-results/testDebugUnitTest/TEST-*.xml
    paths:
      - app/build/test-results/testDebugUnitTest/TEST-*.xml


test:release:
  extends:
    - .gradle-android-job
    - .release-rule
  interruptible: true
  stage: test
  needs:
    - job: download:google-services
      artifacts: true
  script:
    - ./gradlew testReleaseUnitTest
  artifacts:
    reports:
      junit:
        - app/build/test-results/testReleaseUnitTest/TEST-*.xml
    paths:
      - app/build/test-results/testReleaseUnitTest/TEST-*.xml