upload:
  image: rclone/rclone
  stage: deploy
  extends: .release-rule
  needs:
    - job: build:release
      artifacts: true
    - job: test:release
      artifacts: false
    - job: lint:release
      artifacts: false
  variables:
    FILENAME: SpringLauncher_${CI_COMMIT_TAG}-release.apk
    ARTIFACT_PREFIX: app/build/outputs/apk/release
  before_script:
    - echo "$RCLONE_CONFIG" > rclone.config
    - _rclone() { rclone --config ./rclone.config $@; }
  script:
    - _rclone copy "$ARTIFACT_PREFIX/$FILENAME" "releases:"
    - GDRIVE_ID="$(_rclone lsf --format "i" "releases:$FILENAME")"
    - echo "ARTIFACT_URL=https://drive.google.com/file/d/$GDRIVE_ID/view" > upload.env
    - echo "FILENAME=$FILENAME" >> upload.env
  artifacts:
    reports:
      dotenv: upload.env
